{% style %}

{% endstyle %}

<div class="single-product single-product__{{ section.id }}">
  <div class="wrapper">
    <div class="single-product__main">
      <div class="single-product__image">
        {{  }}
      </div>
      <div class="single-product__details"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Practice single product",
  "class": "section-practice-single-product",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Practice single product"
    }
  ]
}
{% endschema %}